@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&family=JetBrains+Mono:wght@400;600;800&family=Norican&display=swap');

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font: inherit;
}

html {
  color-scheme: dark;
}

body {
  min-height: 100vh;
  background: linear-gradient(31deg, #0f2027, #203a43, #2c5364);
  font-family: 'Inter', sans-serif;
}
